/*
Leonardo A Carrilho
2020, September
*/
@media screen
  and (min-device-width: 640px)
  and (max-device-width: 1500px){

/* -------------------------------

        Uso geral | general use
        Para todas as pages

------------------------------- */

:root{
  /* Declaracao de variaveis */
  --varBgColor: #efffc8; /*#0f0064;*/
  --varFontColor: #3b341f;/*#e2bb56; /*#00f064;*/
  --varFontDefault: "roboto", tahoma, verdana;
  --varFontSizeDefault: 30px;
  --varTextoSombreado: 2px 2px #efffc8;
}

*{
  top: 0;
  left: 0;
}

body{
  background-color: var(--varBgColor);
  color: var(--varFontColor);
  font-family: var(--varFontDefault);
  font-size: var(--varFontSizeDefault);

  -webkit-font-family: var(--varFontDefault);
  -webkit-font-size: var(--varFontSizeDefault);
}

a:link{
  color: var(--varFontColor);
  text-decoration: none;
}

a:visited{
  color: var(--varFontColor);
  text-decoration: none;
}

a:active{
  color: var(--varFontColor);
  text-decoration:none;
}

a:hover{
  color: var(--varFontColor);
  text-decoration: none;
}

li{
  list-style: none;
}

input{
  color: var(--varFontColor);
  font-size: 40px;
  /*background-color: var(--varBgColor);*/
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: var(--varFontColor) solid 2px;
  text-align: center;
  /*text-shadow: var(--varTextoSombreado);*/

  -webkit-border-top: none;
  -webkit-border-left: none;
  -webkit-border-right: none;
  -webkit-border-bottom: var(--varFontColor) solid 2px;
  -webkit-appearance: none; /* desmacha as formatacoes do iphone (bordas, background-color nos inputs) */
}

.divMain{
  /* A.K.A. Container */
  display: flex;
  justify-content: center;
}

span#complement{
  /* texto complementar nos inputs */
  color: gray;
  font-size: 14px;
}

.divForms h2{
  margin:auto;
  color: #247BA0;
  /*border: 2px solid #247BA0;
  background-color: #70C1B3;*/
  border-radius: 25px 0px 25px 0px;
  padding: 5px;
}

/* -------------------------------

          LOGIN PAGE

------------------------------- */

body#body-capa{
  /* show background picture on login screen */
  background-image: url("/img/cover/8.png"); /* DESATIVADO POR CAUSA DA @mediaquerie gerado por backgroundRandomNoLogin() */
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes chacoalha{
  /*
  Movimenta os campos de um lado para outro para chamar a atencao do user
  */
  0% { transform: translateX(-100px); }
  100% { transform: translateX(100px); }
}

.chacoalhaCampo{
  /*
  Esta classe é chamada em tempo de execucao pelo arquivo call.js
  */
  animation: chacoalha 0.1s;
  animation-direction: alternate;
  animation-iteration-count: 6;
}

.divLogin{
  /**/
  margin:auto;
  width: 50%;
  border-radius: 30px;
  background-color: white;
  box-shadow: 5px 5px 10px 5px #000;
  padding: 4px;
  text-align: center;
}

.divSignup{
  margin:auto;
}

label#divLogin-label-title{
  font-size: 100px;
  text-shadow: var(--varTextoSombreado);
}

.divLogin-button{
  margin:auto;
  border-style: none;
  font-size: 80%;
}

#span-msg{
  display: none;
  border: solid 2px #ffcc00;
  background-color: tomato; /* #efffc8; */
  color: #ffcc00;
  line-height: 100px;
  width: 100%;
}

#btnSend{
  background-color: #49E20E;
  color: #fff;
  border: var(--varFontColor) solid 2px;
  border-radius: 30px;
  padding-left: 80px;
  padding-right: 80px;
}

/* -------------------------------

        MAIN PAGE

------------------------------- */

.divPhotos img{
  margin:auto;
  width: 30%;
  height: 300px;
  border: white 2px solid;
}

/* -------------------------------

        PROFILE PAGE

------------------------------- */

.divForms{
  margin:auto;
  text-align: center;
  width:70%;
  /*border: solid 1px #FF1654;*/
}

ul#ulPhoto li{
  border: var(--varFontColor) solid 2px;
}

li#ulPhoto-small img{
  display: block;
  float: left;
  width: 25%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

/* -------------------------------

        PROSPECT PAGE

------------------------------- */

.pictureBevel img{
  /* chanfro da imagem e posiciona label */
  margin:auto;
  border-radius: 0 25% 0 25%;
  width: 100%;
}

.pictureBevel label{
  margin:auto;
  width: 50%;
  top: 200px;
  background-color: #FF1654;
  border: solid 2px #FF1654;
}

}/* media querie laptop */

@media screen
  and (min-device-width: 280px)
  and (max-device-width: 640px){

body{
  background-color: #F3FFBD;
}



} /* media querie mobile */



















/* ----------- Bibliograph ----------------------

chacoalhaCampo: https://code-boxx.com/simple-css-bounce-effect/
https://uicookies.com/css-input-text/
media queries: https://css-tricks.com/snippets/css/media-queries-for-standard-devices/

*/
